<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash-messages">
      <% flash.each do |name, msg| %>
        <% next unless name == 'alert' || name == 'notice' %>
        <div class="alert fade in">
          <div class="container">
            <%= msg %>
          </div>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
